<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bike Shop</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script type="text/javascript" src="./public/javascripts/script.js"></script>
  <link rel="icon" href="https://mbtskoudsalg.com/images250_/bicycle-png-icon-4.png">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/shop">Bikeshop <i class="fas fa-bicycle"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eshop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panier</a>
        </li>
      </ul>
      <span class="navbar-text">
Bienvenue sur le shop <%= login %>, (<%= email %>)
</span>
     <div id="suivi_panier"> <i class="fas fa-cart-arrow-down"></i> <span id="compteur_panier"> <%= compteur_panier %> </span>
    </div>
  </nav>



  <div class="container">
  <!--  <div class="row" id="shop-header">
      <div class="col-12">
        <img id="logo-header" src="images/bike-logo.svg" alt=""> The Bike Shop Experience
          </div>
      </div>

       <div class="row" id="shop-background">
      </div>
    -->
    </div>

    <div class="container">

      <div class="row">



<%
for (i=0; i< donnees_velos.length; i++){
  console.log(i);
  %>

          <div class="card text-center col-12 col-sm-6 col-md-4" style="width: 18rem;">
            <div class="contour-card">
            <img class="card-img-top" src= "<%= donnees_velos[i].photo %>"  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> <%= donnees_velos[i].nom %> </h5>
              <div class="bas-card">
                <p class="card-text float-left"> <%= donnees_velos[i].prix.toLocaleString('en', {useGrouping:true}) %> € </p>
                <form action="/basket" method="post">
                  <button type="submit" class="btn btn-primary float-right" name ="nom_velo" value ="<%= donnees_velos[i].id %>"> Buy </button>
                  <input type="hidden" name ="email" value ="<%= email %>">
                  <input type="hidden" name ="login" value ="<%= login %>">
                </form>
              </div>
            </div>
          </div>
          </div>
<%
}

%>


          </div>

      </div>

  </body>

</html>
