<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Shop</title>
    <link rel="icon" href="https://mbtskoudsalg.com/images250_/bicycle-png-icon-4.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
       <div class="row" id="card-header">
         <div class="col-12"><s></s>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> my Basket
          </div>
       </div>

       <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="http://localhost:3000/">Bike Shop</a></li>
           <li class="breadcrumb-item active" aria-current="page">Basket</li>
         </ol>
       </nav>


       <h1>Basket</h1>


<table class="table">
  <thead >
    <tr>
      <th scope="col" id="colonne-picture">Picture</th>
      <th scope="col" id="colonne-model" class="d-none d-sm-table-cell colonne-modele">Model</th>
      <th scope="col" id="colonne-quantity">Quantity</th>
      <th scope="col" id="colonne-refresh" ></th>
      <th scope="col" id="colonne-price">Price</th>
      <th scope="col" id="colonne-total" >Total</th>
      <th scope="col" id="colonne-suppr">Suppr</th>
    </tr>
  </thead>

  <tbody id="table_dynamique">

    <% var totalCommande = 0 %>

<% for (i=0; i< velos_panier.length ; i++) {


totalCommande = totalCommande  + velos_panier[i].prix * velos_panier[i].quantite ;
  %>

<tr>
  <th scope="row"><img class="image-panier" src="<%= velos_panier[i].photo %>" alt=""></th>
  <td class="d-none d-sm-table-cell colonne-modele"> <%= velos_panier[i].nom %> </td>
  <td>

<form action="/refresh-shop" method = "post">
    <input name = "quantite" type = "number" value = "<%= velos_panier[i].quantite %>" class= "form-control form-control-sm" >
    <input name = "id_du_velo_a_refresh" type = "hidden" value = "<%= velos_panier[i].id %>" >

  </td>
  <td><button type="submit" class="btn btn-outline-primary"><i class="fas fa-sync-alt"></i></button></td>
</form>
  <td><%= velos_panier[i].prix %> €</td>
  <td><%= (velos_panier[i].prix * velos_panier[i].quantite).toLocaleString('en', {useGrouping:true}) %> €</td>
  <td><form action="/delete-shop" method = "post"><button type="submit" class="btn btn-outline-primary" name = "velo_a_supprimer" value = "<%= velos_panier[i].id %>"><i class="fas fa-trash-alt"></i></button></form></td>

</tr>

<%  }   %>

<tr id="derniere-ligne">
  <th scope="row"></th>
  <td class="d-none d-sm-table-cell colonne-modele"></td>
  <td></td>
  <td></td>
  <td>Total:</td>
  <td> <%= totalCommande.toLocaleString('en', {useGrouping:true}) %> €</td>
  <td></td>

</tr>

  </tbody>
</table>



<div id="checkout">
  <button type="button" class="btn btn-success">Checkout</button>
</div>











   </div>



    </div>
  </body>
</html>
